@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: 'Fira Code', monospace;
  background-color: #1E1E1E;
  color:#ffffff;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h6,a, p{
  font-family: 'Fira Code', monospace;
}


.bg-input{
  background-color: #282C33;
}

.border-gray{
  border: 1px solid #ABB2BF;
}
.border-purple{
  border: 1px solid #C778DD;
}

.text-purple{
  color: #C778DD;
}
.text-gray{
  color: #ABB2BF;
}

.scrollImg {
  width: 100%;
  object-fit: cover;
  object-position: top;
  
  transition: 8s all ease;

  &:hover {
    object-position: bottom;
  }
}